<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="empty">
            <div class="empty-img"><img src="{{ asset('build/static/undraw_printing_invoices_5r4r.svg') }}" height="128"  alt="">
            </div>
            <p class="empty-title">{{ body }}</p>
            <p class="empty-subtitle text-muted">
                {{ description }}
            </p>
        </div>
    </div>
</div>
